body{
    background-image: url('./bg.jpg');
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4cb471;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #53c462;
}

.outer {
    display: table;
    position: absolute;
    height: 95%;
    width: 99%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    padding: 20px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto; 
    width: 600px; /*whatever width you want*/
    text-align: center;
    color: #4cb471;
    font-family: 'Ubuntu', sans-serif;
    font-size: 27pt;
    background-color: rgba(100,100,100,0.7);
    border-radius: 9px;
}


.logo {
    height: 200px;
}

a {
    text-decoration: none;
    color: #4cb471;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}

.social-icon {
    color: #4cb471;
}
ul.social-icons {
    margin-top: 10px;
    padding: 0px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #4cb471;
    text-decoration: none;
}
.footer-social-icons {
    width: 50%;
    display:block;
    margin: 0 auto;
}